/****** Object:  Table [dbo].[ecommerce]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ecommerce](
	[marketsource] [varchar](50) NULL
) ON [PRIMARY]
GO
