/****** Object:  Table [dbo].[prescoph]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[prescoph](
	[opprescid] [int] IDENTITY(1,1) NOT NULL,
	[prescid] [int] NULL,
	[sphr] [numeric](8, 2) NULL,
	[sphl] [numeric](8, 2) NULL,
	[cylr] [numeric](8, 2) NULL,
	[cyll] [numeric](8, 2) NULL,
	[Axisr] [smallint] NULL,
	[Axisl] [smallint] NULL,
	[Addr] [numeric](8, 2) NULL,
	[Addl] [numeric](8, 2) NULL,
	[Distpdr] [numeric](8, 2) NULL,
	[Distpdl] [numeric](8, 2) NULL,
	[Nearpdr] [numeric](8, 2) NULL,
	[Nearpdl] [numeric](8, 2) NULL,
	[Prism1r] [numeric](8, 2) NULL,
	[Prism1l] [numeric](8, 2) NULL,
	[Prism2r] [numeric](8, 2) NULL,
	[Prism2l] [numeric](8, 2) NULL,
	[Base1r] [varchar](15) NULL,
	[Base1l] [varchar](15) NULL,
	[Base2r] [varchar](15) NULL,
	[Base2l] [varchar](15) NULL,
	[Usage] [varchar](50) NULL,
	[Lenstype] [varchar](50) NULL,
	[sufamt] [bit] NULL,
	[voidafter] [datetime] NULL,
	[refills] [bit] NULL,
	[refillsamt] [smallint] NULL,
	[comments] [varchar](8000) NULL,
	[vsrdva] [varchar](10) NULL,
	[vsrnva] [varchar](10) NULL,
	[vsldva] [varchar](10) NULL,
	[vslnva] [varchar](10) NULL,
	[vcrdva] [varchar](10) NULL,
	[vcrnva] [varchar](10) NULL,
	[vcldva] [varchar](10) NULL,
	[vclnva] [varchar](10) NULL,
	[kr001] [numeric](8, 2) NULL,
	[kr002] [numeric](8, 2) NULL,
	[kr003] [numeric](8, 2) NULL,
	[kl001] [numeric](8, 2) NULL,
	[kl002] [numeric](8, 2) NULL,
	[kl003] [numeric](8, 2) NULL,
	[presctype] [varchar](50) NULL,
	[rHOA] [nvarchar](10) NULL,
	[lHOA] [nvarchar](10) NULL,
	[color] [varchar](25) NULL,
	[npa] [varchar](25) NULL,
	[npc] [varchar](25) NULL,
	[dom] [varchar](25) NULL,
	[eom] [varchar](25) NULL,
	[ct] [varchar](25) NULL,
	[kair] [numeric](8, 2) NULL,
	[kail] [numeric](8, 2) NULL,
	[krir] [numeric](8, 2) NULL,
	[kril] [numeric](8, 2) NULL,
 CONSTRAINT [PK_prescoph] PRIMARY KEY CLUSTERED 
(
	[opprescid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
