/****** Object:  StoredProcedure [dbo].[sp_NET_InsertOphOrderHeader]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		Reynaldo Nunez
-- Create date: 12/12/2020
-- Description:	Create Ophthalmic Order Header
-- =============================================
CREATE PROCEDURE [dbo].[sp_NET_InsertOphOrderHeader]
(
	@OFFICEID				INTEGER,
	@PATIENT_NO				INTEGER,
	@PRESC_PD_OD			NUMERIC(18,2),
	@PRESC_SPH_OD			NUMERIC(18,2),
	@PRESC_CYL_OD			NUMERIC(18,2),
	@PRESC_AXIS_OD			INTEGER,
	@PRESC_DELTAH_OD		NUMERIC(18,2),
	@PRESC_DELTAV_OD		NUMERIC(18,2),
	@PRESC_ADD_OD			NUMERIC(18,2),
	@PRESC_PD_OS			NUMERIC(18,2),
	@PRESC_SPH_OS			NUMERIC(18,2),
	@PRESC_CYL_OS			NUMERIC(18,2),
	@PRESC_AXIS_OS			INTEGER,
	@PRESC_DELTAH_OS		NUMERIC(18,2),
	@PRESC_DELTAV_OS		NUMERIC(18,2),
	@PRESC_ADD_OS			NUMERIC(18,2),
	@PRESC_USAGE			VARCHAR(50),
	@FRAME_HEIGHT_OD		NUMERIC(18,2),
	@FRAME_HEIGHT_OS		NUMERIC(18,2),
	@FRAME_COLLECTION		VARCHAR(100),
	@FRAME_STYLE			VARCHAR(100),
	@FRAME_COLOR			VARCHAR(100),
	@FRAME_A				NUMERIC(18,2),
	@FRAME_DBL				NUMERIC(18,2),
	@FRAME_B				NUMERIC(18,2),
	@FRAME_ED				NUMERIC(18,2),
	@FRAME_RIMTYPE			VARCHAR(100),
	@FRAME_PRICE			NUMERIC(18,2),
	@ORDER_STATUS			VARCHAR(50),
	@ORDER_DESIGN			VARCHAR(50),
	@ORDER_MATERIAL			VARCHAR(50),
	@ORDER_LENS_ADD			VARCHAR(50),
	@ORDER_COMMENT			VARCHAR(MAX) = '',
	@ORDER_RESP				VARCHAR(50),
	@ORDER_TRAY				VARCHAR(50),
	@ORDER_INS_PLAN			VARCHAR(100),
	@ORDER_INS_BENEFITS		VARCHAR(100) = '',
	@ORDER_INS_AUTH			VARCHAR(100) = '',
	@ORDER_PATIENT			VARCHAR(100),
	@ORDER_INSURANCE		VARCHAR(100),
	@ORDER_TOTAL			VARCHAR(100),
	@FLOWSTATUS				VARCHAR(50),
	@USERNAME				VARCHAR(100) = '',
	@PRESCID				INT=0,
	@FRAMEID				INT=0
)
AS
BEGIN

		INSERT INTO OPH_ORDER_HDR(
							OFFICEID,
							PATIENT_NO,
							PRESC_PD_OD,
							PRESC_SPH_OD,
							PRESC_CYL_OD,
							PRESC_AXIS_OD,
							PRESC_DELTAH_OD,
							PRESC_DELTAV_OD,
							PRESC_ADD_OD,
							PRESC_PD_OS,
							PRESC_SPH_OS,
							PRESC_CYL_OS,
							PRESC_AXIS_OS,
							PRESC_DELTAH_OS,
							PRESC_DELTAV_OS,
							PRESC_ADD_OS,
							PRESC_USAGE,
							FRAME_HEIGHT_OD,
							FRAME_HEIGHT_OS,
							FRAME_COLLECTION,
							FRAME_STYLE,
							FRAME_COLOR,
							FRAME_A,
							FRAME_DBL,
							FRAME_B,
							FRAME_ED,
							FRAME_RIMTYPE,
							FRAME_PRICE,
							ORDER_STATUS,
							ORDER_DESIGN,
							ORDER_MATERIAL,
							ORDER_LENS_ADD,
							ORDER_COMMENT,
							ORDER_RESP,
							ORDER_TRAY,
							ORDER_INS_PLAN,
							ORDER_INS_BENEFITS,
							ORDER_INS_AUTH,
							ORDER_DATE,
							ORDER_PATIENT,
							ORDER_INSURANCE,
							ORDER_TOTAL,
							FLOWSTATUS,
							USERNAME,
							PRESCID,
							FRAMEID
							)
			Values(
					@OFFICEID,
					@PATIENT_NO,
					@PRESC_PD_OD,		
					@PRESC_SPH_OD,			
					@PRESC_CYL_OD,			
					@PRESC_AXIS_OD,			
					@PRESC_DELTAH_OD,		
					@PRESC_DELTAV_OD,		
					@PRESC_ADD_OD,			
					@PRESC_PD_OS,		
					@PRESC_SPH_OS,			
					@PRESC_CYL_OS,			
					@PRESC_AXIS_OS,			
					@PRESC_DELTAH_OS,		
					@PRESC_DELTAV_OS,		
					@PRESC_ADD_OS,
					@PRESC_USAGE,		
					@FRAME_HEIGHT_OD,		
					@FRAME_HEIGHT_OS,	
					@FRAME_COLLECTION,	
					@FRAME_STYLE,		
					@FRAME_COLOR,		
					@FRAME_A,			
					@FRAME_DBL,			
					@FRAME_B,			
					@FRAME_ED,			
					@FRAME_RIMTYPE,		
					@FRAME_PRICE,		
					@ORDER_STATUS,	
					@ORDER_DESIGN,
					@ORDER_MATERIAL,		
					@ORDER_LENS_ADD,		
					@ORDER_COMMENT,		
					@ORDER_RESP,			
					@ORDER_TRAY,			
					@ORDER_INS_PLAN,		
					@ORDER_INS_BENEFITS,	
					@ORDER_INS_AUTH,	
					DATEADD(hh,-5,getdate()),
					@ORDER_PATIENT,
					@ORDER_INSURANCE,
					@ORDER_TOTAL,
					@FLOWSTATUS,
					@USERNAME,
					@PRESCID,
					@FRAMEID
			);

			Select TOP 1 ORDER_ID from OPH_ORDER_HDR order by ORDER_ID desc;
END
GO
