/****** Object:  Table [dbo].[CL_ORDER_ITEMS]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CL_ORDER_ITEMS](
	[ORDER_ITEMS_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[ITEM_CLASS] [varchar](50) NULL,
	[ITEM_CODE] [varchar](50) NULL,
	[ITEM_MODIFIER] [varchar](50) NULL,
	[ITEM_MODIFIER2] [varchar](50) NULL,
	[ITEM_DESCRIPTION] [varchar](100) NULL,
	[ITEM_UNITS] [int] NULL,
	[ITEM_FEE] [numeric](18, 2) NULL,
	[ITEM_PATIENT_P] [int] NULL,
	[ITEM_PATIENT_D] [numeric](18, 2) NULL,
	[ITEM_INSURANCE_D] [numeric](18, 2) NULL,
	[ITEM_TOTAL] [numeric](18, 2) NULL,
	[DIAGNOSIS] [varchar](100) NULL,
	[RENDPROV] [varchar](100) NULL,
	[RENDFACILITY] [varchar](100) NULL,
	[PAYER] [varchar](100) NULL,
	[REFERRING] [varchar](100) NULL,
	[BILLPROVIDER] [varchar](100) NULL,
	[ITEM_ID] [varchar](25) NULL,
	[ITEM_DESC] [varchar](100) NULL,
	[ITEM_SER_ID] [varchar](10) NULL,
	[ITEM_SER_NAME] [varchar](100) NULL,
	[VU_ITEM_ID] [int] NULL,
 CONSTRAINT [PK_CL_ORDER_ITEM] PRIMARY KEY CLUSTERED 
(
	[ORDER_ITEMS_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
