/****** Object:  Table [dbo].[contactlens_update]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactlens_update](
	[upcc] [nvarchar](100) NULL,
	[axs] [numeric](18, 0) NULL
) ON [PRIMARY]
GO
