/****** Object:  Table [dbo].[CLMAN_SER_UNIT_PRICE]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLMAN_SER_UNIT_PRICE](
	[CLPRICE_ID] [int] IDENTITY(1,1) NOT NULL,
	[SER_ID] [varchar](10) NULL,
	[COST] [numeric](18, 2) NULL,
	[MARKUP] [numeric](18, 3) NULL,
	[PRICE] [numeric](18, 2) NULL,
 CONSTRAINT [PK_CLMAN_SER_UNIT_PRICE] PRIMARY KEY CLUSTERED 
(
	[CLPRICE_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
