/****** Object:  Table [dbo].[trial]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[trial](
	[trialid] [int] IDENTITY(1,1) NOT NULL,
	[description] [nchar](10) NOT NULL,
	[value] [smallint] NOT NULL,
 CONSTRAINT [PK_trial] PRIMARY KEY CLUSTERED 
(
	[trialid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
