/****** Object:  Table [dbo].[CLMAN_UNIT]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CLMAN_UNIT](
	[MANUNIT_ID] [int] IDENTITY(1,1) NOT NULL,
	[MAN_ID] [varchar](10) NULL,
	[MAN_NAME] [varchar](100) NULL,
	[UNIT_ID] [varchar](10) NULL,
	[UNIT_NAME] [varchar](100) NULL,
	[UNT_LENS_QTTY] [int] NULL,
	[UNT_PACK_QTTY] [int] NULL,
	[UNT_PATIENT_VISIBLER] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MANUNIT_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
