/****** Object:  StoredProcedure [dbo].[sp_NET_GetPaymentsList]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Reynaldo Nunez
-- Create Date: 01/10/2021
-- Description: Get Payments List
-- =============================================
CREATE PROCEDURE [dbo].[sp_NET_GetPaymentsList](
	@PAYMENTDATE DATE,
	@OFFICEID INT
)
AS
BEGIN

	Select	IP.invoiceid 
			,CASE WHEN IP.isinsurance = 1 THEN 'Insurance' ELSE 'Patient' END AS RECEIVED_FROM
			,cast(IP.cashamt as numeric(18,2)) AS CASH_PMT
			,cast(IP.otheramt as numeric(18,2)) AS OTHER_PMT
			,cast(IP.adjamt as numeric(18,2))  AS ADJUSTMENTS
			,cast(IP.totalpayment as numeric(18,2)) AS TOTAL_PAYMENT
			,I.INV_STATUS as STATUS
	from	INVOICE_PMT IP 
			LEFT JOIN INVOICE_HDR I ON I.invoiceid = IP.invoiceid 
	where	cast(paymentdate as DATE) = @PAYMENTDATE
			AND I.officeid = @OFFICEID 
			AND I.INV_STATUS <> 'Voided'
			

END
GO
