/****** Object:  Table [dbo].[vendor_type]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[vendor_type](
	[vendor_type] [int] IDENTITY(1,1) NOT NULL,
	[code] [int] NOT NULL,
	[description] [nvarchar](40) NULL,
 CONSTRAINT [PK_vendor_type] PRIMARY KEY CLUSTERED 
(
	[vendor_type] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
