/****** Object:  Table [dbo].[xExam]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[xExam](
	[oPatient_no] [int] NULL,
	[Exam] [text] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
