/****** Object:  StoredProcedure [dbo].[usp_CreateSecurityProfile]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

--- Create a New Security Profile
--- Author: Reynaldo Nunez
--- Create Date: 12/26/2013

CREATE PROCEDURE [dbo].[usp_CreateSecurityProfile]
		@UserName varchar(60) = '',
		@UserLogin varchar(15) = '',
		@UserReference varchar(15) = '',
		@UserLocation INT = 0,
		@UserPosition varchar(60) = '',
		@UserActive Bit = 0,
        @Column1 Bit = 0,
        @Column2 Bit = 0,
        @Column3 Bit = 0,
        @Column4 Bit = 0,
        @Column5 Bit = 0,
        @Column6 Bit = 0,
        @Column7 Bit = 0,
        @Column8 Bit = 0,
        @Column9 Bit = 0,
        @Column10 Bit = 0,
        @Column11 Bit = 0,
        @Column12 Bit = 0,
        @Column13 Bit = 0,
        @Column14 Bit = 0,
        @Column15 Bit = 0,
        @Column16 Bit = 0,
        @Column17 Bit = 0,
        @Column18 Bit = 0,
        @Column19 Bit = 0,
        @Column20 Bit = 0,
        @Column21 Bit = 0,
        @Column22 Bit = 0,
        @Column23 Bit = 0,
        @Column24 Bit = 0,
        @Column25 Bit = 0,
        @Column26 Bit = 0,
        @Column27 Bit = 0,
        @Column28 Bit = 0,
        @Column29 Bit = 0,
        @Column30 Bit = 0,
        @Column31 Bit = 0,
        @Column32 Bit = 0,
        @Column33 Bit = 0,
        @Column34 Bit = 0,
        @Column35 Bit = 0,
        @Column36 Bit = 0,
        @Column37 Bit = 0,
        @Column38 Bit = 0,
        @Column39 Bit = 0,
        @Column40 Bit = 0,
        @Column41 Bit = 0,
        @Column42 Bit = 0,
        @Column43 Bit = 0,
        @Column44 Bit = 0,
        @Column45 Bit = 0,
        @Column46 Bit = 0,
        @Column47 Bit = 0,
        @Column48 Bit = 0,
        @Column49 Bit = 0,
        @Column50 Bit = 0,
        @Column51 Bit = 0,
        @Column52 Bit = 0,
        @Column53 Bit = 0,
        @Column54 Bit = 0,
        @Column55 Bit = 0,
        @Column56 Bit = 0,
        @Column57 Bit = 0,
        @Column58 Bit = 0,
        @Column59 Bit = 0,
        @Column60 Bit = 0,
        @Column61 Bit = 0,
        @Column62 Bit = 0,
        @Column63 Bit = 0,
        @Column64 Bit = 0,
        @Column65 Bit = 0,
        @Column66 Bit = 0
AS
Insert into dbo.tblVOMMaBIT(
		UserName,
		UserLogin,
		UserReference,
		UserLocation,
		UserPosition,
		UserActive,
        Column1,
        Column2,
        Column3,
        Column4,
        Column5,
        Column6,
        Column7,
        Column8,
        Column9,
        Column10,
        Column11,
        Column12,
        Column13,
        Column14,
        Column15,
        Column16,
        Column17,
        Column18,
        Column19,
        Column20,
        Column21,
        Column22,
        Column23,
        Column24,
        Column25,
        Column26,
        Column27,
        Column28,
        Column29,
        Column30,
        Column31,
        Column32,
        Column33,
        Column34,
        Column35,
        Column36,
        Column37,
        Column38,
        Column39,
        Column40,
        Column41,
        Column42,
        Column43,
        Column44,
        Column45,
        Column46,
        Column47,
        Column48,
        Column49,
        Column50,
        Column51,
        Column52,
        Column53,
        Column54,
        Column55,
        Column56,
        Column57,
        Column58,
        Column59,
        Column60,
        Column61,
        Column62,
        Column63,
        Column64,
        Column65,
        Column66
        ) Values(
		@UserName,
		@UserLogin,
		@UserReference,
		@UserLocation,
		@UserPosition,
		@UserActive,
        @Column1,
        @Column2,
        @Column3,
        @Column4,
        @Column5,
        @Column6,
        @Column7,
        @Column8,
        @Column9,
        @Column10,
        @Column11,
        @Column12,
        @Column13,
        @Column14,
        @Column15,
        @Column16,
        @Column17,
        @Column18,
        @Column19,
        @Column20,
        @Column21,
        @Column22,
        @Column23,
        @Column24,
        @Column25,
        @Column26,
        @Column27,
        @Column28,
        @Column29,
        @Column30,
        @Column31,
        @Column32,
        @Column33,
        @Column34,
        @Column35,
        @Column36,
        @Column37,
        @Column38,
        @Column39,
        @Column40,
        @Column41,
        @Column42,
        @Column43,
        @Column44,
        @Column45,
        @Column46,
        @Column47,
        @Column48,
        @Column49,
        @Column50,
        @Column51,
        @Column52,
        @Column53,
        @Column54,
        @Column55,
        @Column56,
        @Column57,
        @Column58,
        @Column59,
        @Column60,
        @Column61,
        @Column62,
        @Column63,
        @Column64,
        @Column65,
        @Column66
	)       
RETURN 0
GO
