/****** Object:  Table [dbo].[cptcodes]    Script Date: 6/10/2023 3:47:24 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[cptcodes](
	[class] [varchar](50) NULL,
	[code] [varchar](50) NULL,
	[modifier] [varchar](50) NULL,
	[modifier2] [varchar](50) NULL,
	[description] [varchar](50) NULL,
	[fee] [varchar](50) NULL,
	[Column 6] [varchar](50) NULL,
	[Column 7] [varchar](50) NULL
) ON [PRIMARY]
GO
