/****** Object:  Table [dbo].[tblEDISequence]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblEDISequence](
	[EDISEQUENCE] [int] NULL
) ON [PRIMARY]
GO
