/****** Object:  Table [dbo].[OPH_ORDER_XTRA]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OPH_ORDER_XTRA](
	[ORDER_XTRA_ID] [int] IDENTITY(1,1) NOT NULL,
	[ORDER_ID] [int] NOT NULL,
	[XTRA_DESCRIPTION] [varchar](100) NULL,
 CONSTRAINT [PK_OPH_ORDER_XTRA] PRIMARY KEY CLUSTERED 
(
	[ORDER_XTRA_ID] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
