/****** Object:  StoredProcedure [dbo].[sp_NET_EmrScriptHistory]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:      Reynaldo Nunez
-- Create Date: 11/07/2020
-- Description:Get EMR Script Hist
-- =============================================
CREATE PROCEDURE [dbo].[sp_NET_EmrScriptHistory](
	@patientid as integer
)
AS
BEGIN

		SET NOCOUNT ON

		Select	scriptid,
				scriptdate,
				scripttime,
				natureofvisit 
		from	emrsavedscripts
		where	patientid = @patientid
		order	by scriptid desc
END
GO
