/****** Object:  Table [dbo].[tblonboarding]    Script Date: 6/10/2023 3:47:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tblonboarding](
	[onboardid] [int] IDENTITY(1,1) NOT NULL,
	[patient_no] [int] NOT NULL,
	[createdate] [datetime] NOT NULL,
	[updatedate] [datetime] NOT NULL,
	[reasfvid] [int] NULL,
	[reasfvother] [varchar](50) NULL,
	[primarycid] [int] NULL,
	[primarycphone] [varchar](16) NULL,
	[pharmid] [int] NULL,
	[pharmphone] [varchar](16) NULL,
	[ophthid] [int] NULL,
	[ophthphone] [varchar](16) NULL,
	[allergies] [varchar](1000) NULL,
	[medicines] [varchar](1000) NULL,
	[hypertension] [int] NULL,
	[cholesterol] [int] NULL,
	[thyroid] [int] NULL,
	[heart] [int] NULL,
	[mhOther] [int] NULL,
	[mhtohersel] [varchar](100) NULL,
	[smokeryn] [int] NULL,
	[smokerppd] [int] NULL,
	[smokeryrs] [int] NULL,
	[diabetesys] [int] NULL,
	[diabetest1yrs] [int] NULL,
	[diabetest2yrs] [int] NULL,
	[diabeteslastsl] [varchar](10) NULL,
	[diabetesa1c] [varchar](10) NULL,
	[pregnantyn] [int] NULL,
	[lvisitid] [int] NULL,
	[lvisitnumber] [int] NULL,
	[lvisitdoctor] [varchar](50) NULL,
	[contactlensid] [int] NULL,
	[condcataract] [int] NULL,
	[condeyeinj] [int] NULL,
	[condiritisuve] [int] NULL,
	[conddryeye] [int] NULL,
	[condglaucoma] [int] NULL,
	[condretde] [int] NULL,
	[condstrabism] [int] NULL,
	[condlazye] [int] NULL,
	[condretdetach] [int] NULL,
	[condmacdeg] [int] NULL,
	[condother] [int] NULL,
	[condtxtother] [varchar](50) NULL,
	[droparttears] [int] NULL,
	[dropgraucomad] [int] NULL,
	[dropsallergy] [int] NULL,
	[dropsother] [int] NULL,
	[dropstxtother] [varchar](50) NULL,
	[prevscataract] [int] NULL,
	[prevsretina] [int] NULL,
	[prevscorrective] [int] NULL,
	[prevsglaucoma] [int] NULL,
	[prevscornea] [int] NULL,
	[prevsother] [int] NULL,
	[prevstxtother] [varchar](50) NULL,
	[fohcataract] [int] NULL,
	[fohglaucoma] [int] NULL,
	[fohmacdeg] [int] NULL,
	[fohretdetach] [int] NULL,
	[fohretpig] [int] NULL,
	[fohother] [int] NULL,
	[fohtxtother] [varchar](50) NULL,
	[pat_personal] [varchar](max) NULL,
	[pat_medical] [varchar](max) NULL,
	[last_updated] [date] NULL,
	[isWeb] [bit] NULL,
	[webNote] [varchar](250) NULL,
 CONSTRAINT [PK_tblonboarding] PRIMARY KEY CLUSTERED 
(
	[onboardid] ASC
)WITH (STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[tblonboarding] ADD  DEFAULT ('') FOR [pat_personal]
GO
ALTER TABLE [dbo].[tblonboarding] ADD  DEFAULT ('') FOR [pat_medical]
GO
